@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



.private-navbar{
    color: rgb(25, 135, 84) !important;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.private-navbar-left{
    color: rgb(25, 135, 84) !important;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.private-navbar-button-acc{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1045;
    width: 250px;
    padding: 1rem;
    padding-top: 60px;
    transform: translateX(0); /* Böyük ekranlarda sidebar açıqdır */
    transition: transform 0.3s ease-in-out;
    
    color: rgb(25, 135, 84) !important;
}

.navbar-toggler {
    display: none;
    z-index: 1050; /* Sidebar-dan yüksək z-index */
    position: relative;
}

@media (max-width: 992px) { /* 992px-dən kiçik ekranlar üçün */
    body {
        padding-left: 0; /* Sidebar gizləndiyi üçün padding-i aradan qaldırır */
    }

    .navbar-toggler {
        display: block;
        margin-left: 1rem; /* Buttonun menudan ayrı dayanmasını təmin edir */
    }

    .offcanvas-collapse {
        transform: translateX(-100%);
    }

    .offcanvas-collapse.open {
        transform: translateX(0);
    }
}